* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.main {}

.header {
    min-height: 100px;
    background-color: #243a4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px;
}

.search svg {
    width: 20px;
    margin-right: 12px;
}

.search-ipt {
    width: 660px;
    height: 28px;
    font-size: 18px;
    border: none;
    outline: none;
}

.nav {
    display: flex;
    align-items: center;
}

.filter {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 16px 8px 10px 0;

}

.nav-lists {
    display: flex;
    margin: 16px 0 10px 0;
}



.nav-item {
    list-style: none;
    color: #fff;
    margin: 0 6px;
    padding: 0 8px;
    font-size: 18px;
    cursor: pointer;
}

.nav-item:hover {
    color: red;
}

.nav-item.active {
    color: red;
}

.menu {
    padding: 0 16px;
    margin-top: 32px;
}

.menu__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.menu__card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}

.menu__card-img {
    width: 580px;
    height: 290px;
}

.menu__card-img img {
    width: 100%;
    height: 100%;
}

.price {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.price p {
    font-size: 22px;
}

.menu__card-decs {
    padding: 12px;
}